
journeymap/

\.mixin\.out/

astralsorcery/

llibrary/

logs/

saves/

options\.txt

usernamecache\.json

usercache\.json

crafttweaker\.log

\.ReAuth\.cfg

mods/

textures_0\.png

patchouli_data\.json
